name: 'Terraform Plan/Apply'

on:
  [workflow_dispatch]

jobs:    
  
  terraform-plan:
    name: 'Terraform Plan'
    runs-on: ubuntu-latest
    steps:
      - name: Trigger a Buildkite Build
        uses: "buildkite/trigger-pipeline-action@v2.0.0"
        with:
          buildkite_api_access_token: ${{ secrets.TRIGGER_BK_BUILD_TOKEN }} 
          pipeline: "highspot-poc/terraform-apply"
          branch: "master"
          commit: "HEAD"
          message:  ":github: Triggered from a GitHub Action"
          build_env_vars: '{"ARM_CLIENT_ID": "${{ secrets.ARM_CLIENT_ID }}", "ARM_CLIENT_SECRET": "${{ secrets.ARM_CLIENT_SECRET }}", "ARM_SUBSCRIPTION_ID": "${{ secrets.ARM_SUBSCRIPTION_ID }}", "ARM_TENANT_ID": "${{ secrets.ARM_TENANT_ID }}"}'
          ignore_pipeline_branch_filter: true     
